@import-normalize;
/* bring in normalize.css styles */

@font-face {
  font-family: "MontserratMedium";
  src: local("MontserratMedium"),
    url("./fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "MontserratBold";
  src: local("MontserratBold"),
    url("./fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #cad9d4; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
